.formato2:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* Para IE8 y anteriores */
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.row {
  align-items: center;
}
.formato2 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.formato2 img {
  height: 200px;
  weight: 200px;
}
